*{
padding: 0;
margin: 0;
}
.menu {
  display: flex;
  text-decoration : none;
  color: #e5e8e9;
  list-style: none;
  justify-content: space-between;
}
.menu__item{
  font-size: 30px;
  color: #e5e8e9;
  padding-left: 20px;
  text-decoration: none;
}
.h2{
  display: flex;
  justify-content: center;
}
.h2 img{
  padding-top: 37px;
  width: 329px;
  height: 328px;
}
.text_buton p{
  padding-top: 67px;
  padding-left: 72px;
  font-family: 'Segoe WPN';
  font-size: 64.7px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
}
.text_buton span{
  font-size: 44.7px;
  font-weight: 300;
}
.text_buton a{
  font-family: 'Segoe WPN';
  font-size: 22.7px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  margin-left: 72px;
  padding-top: 14px;
  display: block;
  text-align: center;
  width: 146px;
  height: 40px;
  opacity: 0.41;
  background-color: #12b367;
  border: 1px solid rgba(0,0,0,0.36);
  text-decoration: none;
}
.top1{
  text-align: center;
  max-width: 154px;
}
.top1 p{
  font-family: 'Segoe WPN';
  font-size: 26.7px;
  line-height: 1.2;
  font-weight: 300;
  color: #5c5b5b;
  padding-top:22px ;
}
.top2{
  text-align: center;
  max-width: 154px;
}
.top2 p{
  font-family: 'Segoe WPN';
  font-size: 26.7px;
  line-height: 1.2;
  font-weight: 300;
  color: #5c5b5b;
  padding-top:22px ;
}
.top3{
  text-align: center;
  max-width: 154px;
}
.top3 p{
  font-family: 'Segoe WPN';
  font-size: 26.7px;
  line-height: 1.2;
  font-weight: 300;
  color: #5c5b5b;
  padding-top:22px ;
}
.top4{
  text-align: center;
  max-width: 154px;
}
.top4 p{
  font-family: 'Segoe WPN';
  font-size: 26.7px;
  line-height: 1.2;
  font-weight: 300;
  color: #5c5b5b;
  padding-top:22px ;
}
.top_container{
  padding-top: 92px;
  display: flex;
  justify-content: space-around;
}
.ipad{
  display: block;
  margin: 0 auto;
  padding-top: 109px;
}
h2{
  font-family: 'Segoe WPN';
  font-size: 38.7px;
  line-height: 1.2;
  font-weight: 300;
  color: #4f4f4f;
  padding-top: 58px;
  padding-left: 60px;
}
.text_device_h{
  font-family: 'Univers CE';
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #818181;
  padding-left: 60px;
  padding-top: 28px;
  max-width: 897px;
}
.check_container img{
  max-width: 10px;
  padding-top: 30px;

}
.window_container{
  display: flex;
  padding-top: 90px;
}
.check_container span{
  padding: 10px;
}
.check_container h3{
  font-family: 'Segoe WPN';
  font-size: 32.7px;
  line-height: 1.2;
  font-weight: 300;
  color: #4f4f4f;
}
.check_container{
  padding-left: 38px;
}
.window_container img{
  padding-left: 40px;
}
.table_orange{
  background-color: #e67624;
  width: 470px;
  height: 109px;
  border-radius: 6px;
}
.table_blue{
  margin-left: 66px;
  background-color: #01d4f3;
  width: 470px;
  height: 109px;
    border-radius: 6px;
}
.table_container{ 
    padding-left: 60px;
font-family: 'Segoe WP';
font-size: 28px;
line-height: 21px;
font-weight: 300;
color: #ffffff; 
display: flex;
}
.table_container p{

  padding-top: 15px;
  padding-left: 27px;
}
.table_container input{
  width: 155px;
  height: 26px;
  margin-top: 20px;
  margin-left: 26px;
}
.container{
  margin:0 auto;
  width: 1376px;
}
.logo{
	font-style: italic;
	color: #c2c9cb;
	padding-top: 36px;
	padding-left: 88px;
	margin: 0;
	font-family: 'Mrs Eaves';
	font-size: 118.6px;
	font-weight: 400;
	font-style: italic;
}
.menu{
	padding-top: 55px;
	padding-right: 174px;
	font-family: 'Segoe WPN';
	font-size: 22.7px;
	font-weight: 300;
	color: #ffffff;
}
header{
	background-image: url("../img/header.png");
	background-repeat: no-repeat;
	height: 488px;
  -webkit-background-size: 100%;
}
.menu_x{
	display: flex;
	justify-content: space-between;
}