.logo{
	font-style: italic;
	color: #c2c9cb;
	padding-top: 36px;
	padding-left: 88px;
	margin: 0;
	font-family: 'Mrs Eaves';
	font-size: 118.6px;
	font-weight: 400;
	font-style: italic;
}
.menu{
	padding-top: 55px;
	padding-right: 174px;
	font-family: 'Segoe WPN';
	font-size: 22.7px;
	font-weight: 300;
	color: #ffffff;
}
header{
	background-image: url("../img/header.png");
	background-repeat: no-repeat;
	height: 488px;
	background-size: 100%;
}
.menu_x{
	display: flex;
	justify-content: space-between;
}